<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white">Войти</h3>
            <form action="{{ path("fos_user_security_check") }}" method="POST" class="popup-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="text" class="form-control form-white" id="username" name="_username" value="" required="required" placeholder="Логин">
                <input type="password" id="password" name="_password" required="required" class="form-control form-white" placeholder="Пароль">

                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me"><span>Запомнить меня</span></label>
                    </div>
                </div>
                <input type="submit" id="_submit" name="_submit" value="Войти" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>